.slider-container-main {
   display        : flex;
   width          : 100%;
   align-items    : center;
   justify-content: center;
}

.slider-container {
   width        : 40%;
   text-align   : center;
   margin-bottom: 3%;
}

.table {
   display        : flex;
   align-items    : center;
   justify-content: center;
   text-align     : center;
   min-width      : 800px;
}