<router-outlet></router-outlet>

<div class="slider-container-main">

  <div class='slider-container'>
    <p>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; width: 20px;">
      <label for="amount">HR/s</label>
    </p>

    <div id="slider-range-max"></div>
  </div>
</div>

<div class="table"></div>
